{{!< default}}
{{> head}}
{{> header}}

	<section id="aboutHero" style="background-image:url(/images/about/2016-10-21_Bouquet-Setup-1.jpg);">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="heroText__surTitle">About Us</h1>
				<h2 class="heroText__title">We love this stuff</h2>
				<p>Early morning trips to the flower market, sunny afternoons in the garden,
we’re lucky enough to call this “work”, but really it’s our passion.</p>
				{{!<a class="heroCta" href="#"><i class="fa fa-play"></i> Watch the Video</a>}}
			</div>
			<span class="photoCredit">Photo by <a href="#" target="_blank">Nectar</a></span>
		</div>
	</section>

	<section id="aboutBody">

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				{{> imageCustom
					photographer='Nectar'
					website='nectar.com'
					title='placeholder image'
					src='/images/about/2016-09-10_Studio-Centerpiece-1.jpg'
				}}
			</div>
		</div>

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				{{> imageCustom
					photographer='Nectar'
					website='nectar.com'
					title='placeholder image'
					src='/images/about/2016-10-12_Dahlia-Garden-1.jpg'
				}}
			</div>
		</div>

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				{{> imageCustom
					photographer='Nectar'
					website='nectar.com'
					title='placeholder image'
					src='/images/about/2016-09-25_Song-Garden-2.jpg'
				}}
			</div>
		</div>

	</section>
{{> footer}}