{{> head}}
{{> header}}

	<section id="contactHero">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="heroText__surTitle">Contact Us</h1>
				<h2 class="heroText__title">We love talking about this stuff</h2>
			</div>
		</div>
	</section>

	<section id="contactBody">
		<div class="contactColumn">
			<h3>Getting Married?</h3>
			<form method="post">
				<fieldset>
					<label for="field1">Your Name</label>
					<input type="text" name="field1" placeholder="Your full name"/>
				</fieldset>
				<fieldset>
					<label for="field2">Your Email</label>
					<input type="text" name="field2" placeholder="Your full name"/>
				</fieldset>
				<fieldset>
					<label for="field3">Your Wedding Date</label>
					<input type="text" name="field3" placeholder="Your full name"/>
				</fieldset>
				<fieldset>
					<label for="field4">Number of Guests</label>
					<input type="text" name="field4" placeholder="Your full name"/>
				</fieldset>
				<fieldset>
					<label for="field5">Your Budget</label>
					<input type="text" name="field5" placeholder="Your full name"/>
				</fieldset>
				<fieldset>
					<label for="field6">Notes</label>
					<input type="textarea" name="field6"/>
				</fieldset>
				<button type="submit">Send</button>
			</form>
		</div>

		<div class="contactColumn">
			<div class="contactColumn__group">
				<h3>Social</h3>
				<p><a href="#"><i class="fa fa-instagram"></i> Instagram</a></p>
				<p><a href="#"><i class="fa fa-facebook"></i> Facebook</a></p>
			</div>
			<div class="contactColumn__group">
				<h3>Phone</h3>
				<p>(617) 595-2087</p>
			</div>
			<div class="contactColumn__group">
				<h3>Email</h3>
				<p>misty(at)bynectar.com</p>
			</div>
			<div class="contactColumn__group">
				<h3>The Studio</h3>
				<p>By appointment only</p>
				<p>Woburn, MA</p>
			</div>
		</div>
	</section>

{{> footer}}