{{> head}}
{{> header}}

<section id="contactHero" style="background-image:url(/images/contact/2016-04-23_Scabiosa-3.jpg);">
	<div class="heroBody">
		<div class="heroText">
			<h1 class="heroText__surTitle">Contact Us</h1>
			<h2 class="heroText__title">We love talking about this stuff</h2>
		</div>
		<span class="photoCredit">Photo by <a href="#">Nectar</a></span>
	</div>
</section>

<section id="contactBody">
	<div class="contactColumn">
		<h3>Getting Married?</h3>
		<p>Tell us about your wedding plans and we'll get in touch with you to set up our first phone call (Find out more about <a href="/our-process/">our process</a>).</p>
		{{> contactForm}}
	</div>

	<div class="contactColumn">
		<div class="contactColumn__group">
			<h3>Social</h3>
			<p><a href="http://www.instagram.com/bynectar" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></p>
			<p><a href="http://www.facebook.com/bynectar" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></p>
		</div>
		<div class="contactColumn__group">
			<h3>Phone</h3>
			<p>(617) 595-5741</p>
		</div>
		<div class="contactColumn__group">
			<h3>Email</h3>
			<p>misty(at)bynectar.com</p>
		</div>
		<div class="contactColumn__group">
			<h3>Studio &amp; Garden</h3>
			<p>By appointment only</p>
			<p>Woburn, MA</p>
		</div>
	</div>
</section>

{{> footer}}