{{!< default}}
{{> head}}
{{> header}}

	<section id="homeHero" style="background-image:url(https://unsplash.it/1800/700/?random);">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="galleryHero__surTitle">Our Process</h1>
				<h2 class="galleryHero__title">How We Do What We (Love To) Do</h2>
			</div>
		</div>
	</section>

	<section id="homeBody">

		<!-- if galleries -->
		{{#if data.gallery}}
			{{#each data.gallery}}
			<!-- Gallery Thumbnail -->
			<div class="galleryThumbnail">
				<div class="galleryThumbnail__text">
					<h4 class="galleryThumbnail__location">From our Galleries</h4>
					<h3 class="galleryThumbnail__title">{{title}}</h3>
					<p class="galleryThumbnail__blurb">{{{blurb.body}}}</p>
					<a href="/galleries/{{key}}" class="galleryThumbnail__cta">View Gallery</a>
				</div>
				<div class="galleryThumbnail__photo">
					{{> image image=thumbnail key=key}}
				</div>
			</div>
			{{/each}}
		{{/if}}

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div id="nectarFeed"></div>
			<div class="aboutBlock__text">
				<h4 class="aboutBlock__subtitle">Our Process</h4>
				<h3 class="aboutBlock__title">How we do it.</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				{{> imageCustom
					photographer='Nectar'
					website='nectar.com'
					src='https://unsplash.it/900/700/?random'
				}}
			</div>
		</div>

	</section>
{{> footer}}