{{!< default}}
{{> head}}
{{> header}}

	<section id="aboutHero" style="background-image:url(/images/about/2016-10-21_Bouquet-Setup-1.jpg);">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="heroText__surTitle">Meet Misty</h1>
				<h2 class="heroText__title">I love this stuff</h2>
				<p>Early morning trips to the flower market, sunny afternoons in the garden,
I'm lucky enough to call this “work”, but really it’s my passion.</p>
				{{!<a class="heroCta" href="#"><i class="fa fa-play"></i> Watch the Video</a>}}
			</div>
			{{!<span class="photoCredit">Photo by <a href="#" target="_blank">Nectar</a></span>}}
		</div>
	</section>

	<section id="aboutBody">

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__photo">
				{{> imageCustom
					title='placeholder image'
					src='/images/about/2016-09-10_Studio-Centerpiece-1.jpg'
				}}
			</div>
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">My Journey</h3>
				<p class="aboutBlock__blurb">It was in college that I found my love for floral design.  I soon found myself working at a hometown floral shop, learning the ropes from a second-generation shop owner. After graduation, I moved to Boston and was fortunate enough to be exposed to the wedding floral industry by an amazing artist and gardener. 16 years later I’m exactly where I want to be.  In the studio, in the garden, at the flower market and sharing what I love with so many wonderful couples.</p>
			</div>
		</div>

		<!-- About Block 2 -->
		<div class="aboutBlock">
			<div class="aboutBlock__photo">
				{{> imageCustom
					title='placeholder image'
					src='/images/about/2016-10-25_Dahlia-Garden-4.jpg'
				}}
			</div>
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">A Green Thumb</h3>
				<p class="aboutBlock__blurb">Gardening and weddings for me go hand in hand.  I love flowers so much maybe it’s not a coincidence that my last name is Florez.  I got married and couldn’t let go of it!</p>
			</div>
		</div>

		<!-- About Block 3 -->
		<div class="aboutBlock">
			<div class="aboutBlock__photo">
				{{> imageCustom
					title='placeholder image'
					src='/images/about/2016-09-25_Song-Garden-2.jpg'
				}}
			</div>
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Mom-preneur</h3>
				<p class="aboutBlock__blurb">Being a mom and wife are two of the top 3 things I am most proud of.  Nectar is the other.  It is in my blood to be an entrepreneur.  I never would have guessed, but I’m so fortunate I’m in the wedding floral business.  I was born to do this.</p>
			</div>
		</div>

	</section>
{{> footer}}