{{> head}}
{{> header}}

<section id="formHero">
	<div class="heroBody">
		<div class="heroText">
			<h1 class="heroText__surTitle">Preconsultation Form</h1>
			<h2 class="heroText__title">Can't wait to see you!</h2>
		</div>
	</div>
</section>

<section id="formBody">
	<div class="formColumn">
		{{> contactForm}}
	</div>
</section>

{{> footer}}