{{!< default}}
{{> head}}
{{> header}}

	<section id="processHero">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="heroText__surTitle">Our Process</h1>
				<h2 class="heroText__title">How We Do What We (Love To) Do</h2>
			</div>
		</div>
	</section>

	<section id="processBody">

		<!-- Process Step 1 -->
		<div class="processStep">
			<div class="processStep__text">
				<h4 class="processStep__number">Step 1</h4>
				<h3 class="processStep__title">Getting to Know You</h3>
				<p class="processStep__blurb">Congratulations! You’re getting married and you’re ready to decide which floral designer you want for <em>your</em> big day. Our first step is an introductory phone call. We’ll talk about how the two of you met, how you got engaged and what plans you’ve made. I like to get to know you and answer any preliminary questions you might have. If it seems like working together could be a good fit, we’ll plan a studio consultation.</p>
			</div>
			<div class="processStep__photo">
				{{> imageCustom
					photographer='Caleb Ekeroth'
					website='http://calebekeroth.com/'
					title='placeholder image'
					src='/images/process/couple.jpg'
				}}
			</div>
		</div>

		<!-- Process Step 2 -->
		<div class="processStep">
			<div class="processStep__text">
				<h4 class="processStep__number">Step 2</h4>
				<h3 class="processStep__title">The Vision</h3>
				<p class="processStep__blurb">Ok, this is where things get fun. We’ll meet at the Nectar studio and start imagining the possibilities. In preparation, I’ll have you fill out a questionnaire so we can get into the fun stuff during the meeting. We’ll prepare style boards, you’ll have Pinterest boards, we’ll talk about colors, blooms and decor. By the time you leave you’ll have a first draft of our proposal to take home with you, and the option to book me for your wedding date.</p>
			</div>
			<div class="processStep__photo">
				<div class="processStep__photo">
					{{> imageCustom
						title='placeholder image'
						src='/images/process/2016-10-31_Proposal-Details-1.jpg'
					}}
				</div>
			</div>
		</div>

		<!-- Process Step 3 -->
		<div class="processStep">
			<div class="processStep__text">
				<h4 class="processStep__number">Step 3</h4>
				<h3 class="processStep__title">The Development</h3>
				<p class="processStep__blurb">You’ve secured all your vendors, you’re making final selections and your plans are really beginning to come together. You’ve been keeping me posted and we’ve been putting a lot of thought into your wedding décor. We’ll meet at the studio to give us an opportunity to show you a sample with a personalized selection of flowers. This is a great time to explore what additional décor details you may want to consider.</p>
			</div>
			<div class="processStep__photo">
				<div class="processStep__photo">
					{{> imageCustom
						title='placeholder image'
						src='/images/process/20160430-DSC_1240.jpg'
					}}
				</div>
			</div>
		</div>

		<!-- Process Step 4 -->
		<div class="processStep">
			<div class="processStep__text">
				<h4 class="processStep__number">Step 4</h4>
				<h3 class="processStep__title">The Final Countdown!</h3>
				<p class="processStep__blurb"><em>Time flies!</em> You’ve been busy going to fittings and finalizing your guest list, and we’ve been coordinating final timelines with your vendors and ordering flowers. Everything is coming together cause you’ve selected wedding professionals that know what to do. We will get in touch to confirm the details get final counts and simply to check in.</p>
			</div>
			<div class="processStep__photo">
				<div class="processStep__photo">
					{{> imageCustom
						title='placeholder image'
						src='/images/process/2016-10-08_Studio-Flowerwall-2.jpg'
					}}
				</div>
			</div>
		</div>

		<!-- Process Step 5 -->
		<div class="processStep">
			<div class="processStep__text">
				<h4 class="processStep__number">Step 5</h4>
				<h3 class="processStep__title">The Big Day</h3>
				<p class="processStep__blurb">Before sunrise we’re wrapping bouquets, loading up the van and going over plans with our delivery team. Our day is focused exclusively on <em>your</em> wedding. We are so excited to present your bouquets, pin on boutonnieres and work our magic with on-site designing, installations and setup. When the music dies down and you retreat to your room with a glass of champagne we are there to disassemble arbors, pack away candles and pick up rental décor.</p>
			</div>
			<div class="processStep__photo">
				<div class="processStep__photo">
					{{> imageCustom
						title='placeholder image'
						src='/images/process/2016-10-08_Misty-Centerpiece-1.jpg'
					}}
				</div>
			</div>
		</div>

	</section>
{{> footer}}