#aboutHero
	imageHero()
	aspect(small,1,1)
	aspect(medium,2,1)
	color white
	.heroText
		padWidth(small,20%,20%)
		padWidth(medium,10%,10%)

#aboutBody
	.aboutBlock
		flexContainer()
		text-align center
		&:nth-child(2n+2)
			flex-direction row-reverse
		.aboutBlock__photo
			flex 1
		.aboutBlock__text
			flex 1
			box-sizing border-box
			& > *
				padWidth(small,10%,10%)
				padWidth(medium,20%,20%)