#aboutHero
	imageHero()
	aspect(small,1,1)
	aspect(medium,2,1)
	.heroText
		padWidth(small,20%,20%)
		padWidth(medium,25%,25%)
		p
			font-size 1.25rem
		a.heroCta
			button()
			margin-top 2rem
			background white

#aboutBody
	padding .25rem
	box-sizing border-box

	.aboutBlock
		pingPong()
		.aboutBlock__photo
			pingPongImage()
		.aboutBlock__text
			pingPongText()