#aboutHero
	imageHero()
	aspect(small,1,1)
	aspect(medium,2,1)
	.heroText
		padWidth(small,20%,20%)
		padWidth(medium,25%,25%)
		p
			font-size 1.25rem
		a.heroCta
			button()
			margin-top 2rem
			background white

#aboutBody
	padding .25rem
	box-sizing border-box

	.aboutBlock
		flexContainer()
		text-align center
		&:nth-child(2n+2)
			flex-direction row-reverse
		.aboutBlock__photo
			flex 1
		.aboutBlock__text
			flex 1
			box-sizing border-box
			& > *
				padWidth(small,10%,10%)
				padWidth(medium,20%,20%)