#contactHero
	imageHero()
	aspect(small,5,2)
	.heroText
		padWidth(small,10%,10%)
		p
			font-size 1.25rem
		a.heroCta
			button()
			margin-top 2rem

#contactBody
	margin-bottom 4rem

	flexContainer()
	align-items stretch
	padding .25rem
	box-sizing border-box

	.contactColumn
		padWidth(small,10%,10%)
		padding-top 4rem
		flex 1
		text-align center

		.contactColumn__group
			margin-bottom 2rem
