#contactHero
	imageHero()
	aspect(small,5,6)
	aspect(medium,5,3)
	aspect(large,5,2)
	.heroText
		padWidth(small,10%,10%)
		p
			font-size 1.25rem
		a.heroCta
			button()
			margin-top 2rem

#contactBody
	flexContainer()
	align-items stretch
	box-sizing border-box
	padding .25rem
	margin-bottom 4rem
	@media (min-width:small)
		flex-direction column-reverse
	@media (min-width:medium)
		flex-direction row
	.contactColumn
		padWidth(small,5%,5%)
		padWidth(medium,10%,10%)
		padWidth(large,10%,10%)
		padding-top 4rem
		flex 1
		text-align center

		.contactColumn__group
			margin-bottom 2rem

#bookingMessage
	background #fbeec8
	padding 1rem
	border-radius 1px
	max-width 30rem
	margin 0 auto 2rem

	& > p
		font-family "Playfair Display", serif
		font-size 1.25rem
		font-style italic
		margin 0
