#homeHero
	imageHero()
	aspect(small,1,1)
	aspect(medium,2,1)
	.heroText
		padWidth(small,20%,20%)
		padWidth(medium,10%,10%)
		.heroText__title
			padding-bottom 0rem

#homeBody
	padding .25rem
	box-sizing border-box

	.homeBlock
		flexContainer()
		text-align center
		.homeBlock__photo
			flexGrow(small,1)
		.homeBlock__text
			padHeight(small,2rem,2rem)
			flexGrow(small,2)
			flexGrow(medium,1)
			box-sizing border-box
			.homeBlock__subtitle
				surTitle()
			& > *:not(a)
				padWidth(small,10%,10%)
				padWidth(medium,20%,20%)
			a.cta
				margin-top 2rem