#homeHero
	imageHero()
	aspect(small,1,1)
	aspect(medium,2,1)
	.heroText
		padWidth(small,20%,20%)
		padWidth(medium,10%,10%)
		.heroText__title
			padding-bottom 0rem

#homeBody
	padding .25rem
	box-sizing border-box

	.homeBlock
		pingPong()
		.homeBlock__text
			pingPongText()
		.homeBlock__photo
			pingPongImage()
