#formHero
	textHero()
	aspect(small,5,6)
	aspect(medium,5,3)
	aspect(large,4,1)
	.heroText
		padWidth(small,10%,10%)
		p
			font-size 1.25rem
		a.heroCta
			button()
			margin-top 2rem

#formBody
	flexContainer()
	align-items stretch
	box-sizing border-box
	padding .25rem
	margin-bottom 4rem
	@media (min-width:small)
		flex-direction column-reverse
	@media (min-width:medium)
		flex-direction row
	.formColumn
		padWidth(small,5%,5%)
		padWidth(medium,20%,20%)
		padWidth(large,30%,30%)
		flex 1
		text-align center
		h4
			font-family font-playfair
			font-style italic
			margin 3rem
			em
				font-family font-work
				font-size 1rem
				font-style normal
				text-transform uppercase
				color amber
		hr
			height 0
			border none
			border-top lt-gray solid 1px
			margin 2rem
