// Gallery Listing View Styles
#pressHero
	textHero()
	aspect(small,1,1)
	aspect(medium,5,2)
	aspect(large,3,1)

#pressBody
	width 100%
	padding .25rem
	box-sizing border-box

.pressThumbnail
	pingPong()
	.pressThumbnail__text
		pingPongText()
		.pressThumbnail__location
			color dk-gray
	.pressThumbnail__photo
		pingPongImage()
