#processHero,#processHero
	textHero()
	aspect(small,5,6)
	aspect(medium,5,2)
	aspect(large,3,1)
	.heroBody
		padWidth(small,10%,10%)

#processBody
	padding .25rem
	box-sizing border-box

	.processStep
		ping()
		.processStep__text
			pingPongText()
		.processStep__photo
			pingPongImage()
