<footer>

	<div class="footerColumn">
		<span class="footerColumn__logo"><a href="/" title="nectar Floral Design">nectar</a></span>
		<p>Copyright {{currentYear}} nectar.</p>
	</div>
	<div class="footerColumn">
		<h3>Explore</h3>
		<ul>
			<li>
				<a href="/about-us/" title="About Nectar | Nectar Floral Design">About Us</a>
			</li>
			<li>
				<a href="/galleries/" title="Our Galleries | Nectar Floral Design">Our Galleries</a>
			</li>
			<li>
				<a href="/about-us/" title="Our Process | Nectar Floral Design">Our Process</a>
			</li>
			<li>
				<a href="/about-us/" title="Contact Us | Nectar Floral Design">Contact Us</a>
			</li>
		</ul>
	</div>
	<div class="footerColumn">
		<h3>Mailing List</h3>
		<p>Sign up to receive email updates from <em>nectar</em> about flowers, gardening, weddings and workshops.</p>
		<form action="http://jtd.createsend.com/t/r/s/kdtutkt/" method="post" id="subForm">
			<fieldset>
				<label for="fieldName">Name</label>
				<input id="fieldName" name="cm-name" type="text" />
			</fieldset>
			<fieldset>
				<label for="fieldEmail">Email</label>
				<input id="fieldEmail" name="cm-kdtutkt-kdtutkt" type="email" required />
			</fieldset>
			<fieldset>
				<button type="submit">Subscribe</button>
			</field>
		</form>
	</div>

</footer>
<script src="//cdn.jsdelivr.net/flexslider/2.6.3/jquery.flexslider-min.js"></script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script src="/js/macy/macy.min.js"></script>
<script src="/js/scripts.js"></script>
{{{isAdminEditorJS user}}}
</body>
</html>
