<!-- Global Header -->
<header id="header">

	<!-- Site Logo -->
	<a href="/" id="headerLogo" title="Nectar Floral Design"></a>

	<!-- Mobile Nav Button -->
	<span id="header__navButton"><i class="fa fa-bars"></i></span>

	<!-- Global Nav Menu -->
	<nav id="header__nav">
		<ul>
			<li>
				<a href="/" title="Home | Nectar Floral Design" id="nav__name">nectar</a>
			</li>
			<li id="nav__pipe">
				<span>|</span>
			</li>
			<li>
				<a href="/about-us" title="About Nectar | Nectar Floral Design">About Us</a>
			</li>
			<li>
				<a href="/galleries" title="Photo Galleries | Nectar Floral Design">Photo Galleries</a>
			</li>
			<li>
				<a href="/our-process" title="Our Process | Nectar Floral Design">Our Process</a>
			</li>
			<li>
				<a href="/press" title="Press | Nectar Floral Design">Press</a>
			</li>
			<li>
				<a href="/contact" title="Contact Nectar | Nectar Floral Design">Contact Us</a>
			</li>
		</ul>
	</nav>

</header>
