<form id="subForm" action="https://hooks.zapier.com/hooks/catch/2393795/55er9p/" method="post">
	<h4><em>Step 1 of 6</em> / Basic Information</h4>
	<fieldset>
		<label for="fieldName">Your Name*</label>
		<input id="fieldName" name="contact-name" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldEmail">Your Email*</label>
		<input id="fieldEmail" name="contact-email" type="email" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilljk">Your Phone Number*</label>
		<input id="fieldiutilljk" name="contact-phone" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilrlu">Your Fianceé's Name*</label>
		<input id="fieldiutilrlu" name="fiancee-name" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilrih">Your Fianceé's Email*</label>
		<input id="fieldiutilrih" name="fiancee-email" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilrky">Your Fianceé's Phone Number*</label>
		<input id="fieldiutilrky" name="fiancee-phone" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilydt">Your Address*</label>
		<input id="fieldiutilydt" name="contact-address" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutilkki">When is your wedding?*</label>
		<select id="fieldiutilkki" name="wedding-date-month" required>
			<option value="">Month</option>
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
		</select>
		<select id="fieldiutilkkidy" name="wedding-date-day" required>
			<option value="">Day</option>
			<option value="01">1</option>
			<option value="02">2</option>
			<option value="03">3</option>
			<option value="04">4</option>
			<option value="05">5</option>
			<option value="06">6</option>
			<option value="07">7</option>
			<option value="08">8</option>
			<option value="09">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
		</select>
		<select id="fieldiutilkkiyr" name="wedding-date-year" required>
			<option value="">Year</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2020">2021</option>
		</select>
	</fieldset>
	<fieldset>
		<label for="fieldiutioe">Number of Guests*</label>
		<input id="fieldiutioe" name="number-of-guests" type="text" required />
	</fieldset>

	<hr>
	<h4><em>Step 2 of 6</em> / Ceremony Information</h4>
	<fieldset>
		<label for="fieldiuthmjk">Ceremony Start Time*</label>
		<input id="fieldiuthmjk" name="ceremony-start-time" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutipld">What Type of Ceremony Are You Having?*</label>
		<select id="fieldiutipld" name="ceremony-location-type" required>
			<option value="">Select One</option>
			<option value="Indoor">Indoor</option>
			<option value="Outdoor">Outdoor</option>
		</select>
	</fieldset>
	<fieldset>
		<label for="fieldiutibui">Ceremony Address*</label>
		<input id="fieldiutibui" name="ceremony-address" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutinyu">Ceremony Contact*</label>
		<input id="fieldiutinyu" name="ceremony-contact" type="text" required />
	</fieldset>

	<hr>
	<h4><em>Step 3 of 6</em> / Reception Info</h4>
	<p>Tell us about your Wedding Reception.</p>
	<fieldset>
		<label for="fieldiuthctu">Cocktail Start Time*</label>
		<input id="fieldiuthctu" name="cocktail-start-time" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiuthcil">Reception Start Time*</label>
		<input id="fieldiuthcil" name="reception-start-time" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiuthcir">Reception End Time*</label>
		<input id="fieldiuthcir" name="reception-end-time" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiuticid">Is the Reception in the Same Location as the Ceremony?*</label>
		<input type="radio" id="fieldiuticid" name="same-location" value="true" required>
		<label class="inlineLabel" for="same-location">Yes, it is in the same location.</label>
		<br />
		<input type="radio" id="fieldiuticid" name="same-location" value="false" required>
		<label class="inlineLabel" for="same-location">No, it isn't. (Fill out the fields below)</label>
		</select>
	</fieldset>
	<fieldset>
		<label for="fieldiutifij">Reception Address*</label>
		<input id="fieldiutifij" name="reception-address" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutizjy">Reception Contact*</label>
		<input id="fieldiutizjy" name="reception-contact" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutiott">Number of Tables at Your Reception*</label>
		<input id="fieldiutiott" name="number-of-tables" type="text" required />
	</fieldset>

	<hr>
	<h4><em>Step 4 of 6</em> / Personal Flowers</h4>
	<fieldset>
		<label for="fieldiutiyuik">What is the address where we should deliver your personal flowers?*</label>
		<input id="fieldiutiyuik" name="personal-flowers-address" type="text" required />
	</fieldset>
	<p>Please list the names of those who will receive personal flowers and how they're related to you (Mother, Brother, Best Friend, etc&hellip;):</p>
	<fieldset>
		<label for="fieldiutihuyh">Bridal Bouquets*</label>
		<textarea id="fieldiutihuyh" name="Bridal Bouquets" placeholder="Mimi, the bride" rows="3" required></textarea>
	</fieldset>
	<fieldset>
		<label for="fieldiutikrtk">Boutonnieres*</label>
		<textarea id="fieldiutikrtk" name="boutonnieres" placeholder="Jim Marryman, groom" rows="3" required></textarea>
	</fieldset>
	<fieldset>
		<label for="fieldiutikrdd">Corsages*</label>
		<textarea id="fieldiutikrdd" name="corsages" placeholder="Mabel Doe, mother of the bride" rows="3" required></textarea>
	</fieldset>
	<fieldset>
		<label for="fieldiutikrhk">Hair Flowers*</label>
		<textarea id="fieldiutikrhk" name="hair-flowers" placeholder="Minnie the flower girl, bride's niece" rows="3" required></textarea>
	</fieldset>
	<fieldset>
		<label for="fieldiutiudky">Ring Bearer(s)*</label>
		<textarea id="fieldiutiudky" name="ring-bearers" placeholder="Jimmy, groom's nephew" rows="3" required></textarea>
	</fieldset>

	<hr>
	<h4><em>Step 5 of 6</em> / Vendors</h4>
	<fieldset>
		<label for="fieldiutiuhlh">Caterer*</label>
		<input id="fieldiutiuhlh" name="caterer" type="text" required />
	</fieldset>
	<fieldset>
		<label for="fieldiutiuhe">Photographer*</label>
		<input id="fieldiutiuhe" name="photographer" type="text" required />
	</fieldset>
	<fieldset>
		<label for="first-look">Will you be taking <em>first look</em> photos?*</label>
		<input type="radio" id="fieldiutiuklr" name="first-look" value="Yes" required>
		<label class="inlineLabel" for="first-look">Yes, we will</label>
		<br />
		<input type="radio" id="fieldiutiuklr" name="first-look" value="No" required>
		<label class="inlineLabel" for="first-look">No, we won't</label>
		<br />
		<input type="radio" id="fieldiutiuklr" name="first-look" value="I don't know" required>
		<label class="inlineLabel" for="first-look">I don't know</label>
	</fieldset>

	<hr>
	<h4><em>Step 6 of 6</em> / Decor Details</h4>
	<fieldset>
		<label>Tell us about which floral &amp; decor details you're considering for your event</label>
		<input id="fieldiuthms-0" name="altar-flowers" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-0">Altar Flowers</label>
		<br />
		<input id="fieldiuthms-1" name="arbor-arch-chuppah" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-1">Arbor&#x2F;Arch&#x2F;Chuppah</label>
		<br />
		<input id="fieldiuthms-2" name="aisle-markers" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-2">Aisle Markers</label>
		<br />
		<input id="fieldiuthms-3" name="place-card-table" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-3">Place Card Tables</label>
		<br />
		<input id="fieldiuthms-4" name="gift-table" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-4">Gift Table</label>
		<br />
		<input id="fieldiuthms-5" name="cocktail-tables" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-5">Cocktail Tables</label>
		<br />
		<input id="fieldiuthms-6" name="high-centerpieces" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-6">High Centerpieces</label>
		<br />
		<input id="fieldiuthms-7" name="low-centerpieces" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-7">Low Centerpieces</label>
		<br />
		<input id="fieldiuthms-8" name="dessert-table" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-8">Dessert Table</label>
		<br />
		<input id="fieldiuthms-9" name="cake-flowers" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-9">Cake Flowers</label>
		<br />
		<input id="fieldiuthms-10" name="restroom-flowers" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-10">Restroom Flowers</label>
		<br />
		<input id="fieldiuthms-11" name="other-decor" value="true" type="checkbox" /> <label class="inlineLabel" for="fieldiuthms-11">Other Flowers &amp; Decor</label>
	</fieldset>
	<fieldset>
		<label for="fieldiuthmg">List Other Decor Details You're Interested in</label>
		<input id="fieldiuthmg" name="other-decor-description" type="textarea" />
	</fieldset>

	<hr>
	<fieldset>
		<label>Would you like to get mail from Nectar about flowers, gardening and weddings?</label>
		<input id="listkdtutkt" name="email-subscribe" type="checkbox" value="true" />
		<label class="inlineLabel" for="email-subscribe">Yes, sign me up please.</label>
	</fieldset>
	<fieldset>
		<button type="submit">Submit</button>
		<p><em>*required field</em></p>
	</fieldset>
</form>
<div id="successMessage" style="display:none">
	<h4>Thanks for filling out our preconsultation form! See you soon!<h4>
</div>
<script>
	$(function(){
	  $('form#subForm').submit(function(){
	    $.post($(this).attr('action'), $(this).serialize(), function(json) {
	      console.log(json);
	    }, 'json');
			$(this).fadeOut('fast', function(){
				$('#successMessage').fadeIn();
				$(window).scrollTop($('#successMessage').offset().top - 100);
			});
	    return false;
	  });
	});
</script>
