// Nav
#header
	position fixed
	top 0
	left 0
	right 0
	height 7.5rem
	background transparent
	z-index header-z
	transition background linear .2s

	#headerLogo
		position absolute
		top 15px
		left 10px
		width 105px
		height 70px
		background-image url(/images/nectar-logo.png)
		background-size 105px 140px
		background-position 0 0
		background-repeat no-repeat

	#header__nav--desktop
		font-size 1rem
		text-align center
		color dk-gray
		padding-top 36px
		top 0
		left 0
		right 0

		ul
			list-style none
			margin 0
			padding 0

			h1,li
				display inline
				font-family font-work
				font-weight 400
				a
					margin 0 .5rem
					background none
					text-transform none
					transition color linear .1s
					border none
					color inherit
					&:hover
						color amber

			#nav__name
				letter-spacing .5rem
				font-size 1.25rem
				font-family font-playfair
				font-style italic
				font-weight normal

			#nav__pipe
				margin 0 1rem
				color mid-gray

body.heading-dark
	#header
		#headerLogo
			background-position 0 -70px
		#header__nav--desktop
			color white
			#nav__pipe
				color white

html.scroll #header
	background rgba(255,255,255,.9)
	#headerLogo
		background-position 0 0
	#header__nav--desktop
		color dk-gray
		#nav__pipe
			color dk-gray
