// Global Page Styles
html
	width 100%
	height 100%
	margin 0
	padding 0
	background white

body
	height 100%
	margin 0
	padding 0

section
	position relative
	display block
	margin 0
	&:after
		content " "
		display block
		clear both

footer
	flexContainer()
	@media (min-width:small)
		flex-direction column-reverse
	@media (min-width:medium)
		flex-direction row
	align-items stretch
	padding 6rem 0
	.footerColumn
		padWidth(small,5%,5%)
		flex 1
		padding-bottom 4rem
		ul
			list-style none
			padding 0
		.footerColumn__logo
			font-family font-playfair
			font-style italic
			letter-spacing .25em
			font-size 3rem
			line-height 3.5rem
			a
				color dk-gray
		p
			color mid-gray
		&:nth-child(3)
			flex 2