html
	font-family font-work
	line-height 1.75
	color dk-gray
	@media (min-width: small)
		font-size 10px
	@media (min-width: medium)
		font-size 12px
	@media (min-width: large)
		font-size 14px

p
	margin 0 0 1rem

heading()
	font-weight normal
	line-height 1.25
	margin 0 0 .25em

pageTitle()
	heading()
	font-family font-playfair
	font-size 4rem
	font-style italic
	font-weight normal

surTitle()
	font-family font-work
	font-size .9rem
	font-weight 400
	text-transform uppercase
	letter-spacing .1rem
	color mid-gray

h1
	heading()
	font-family font-playfair
	font-size 4rem

h2
	heading()
	font-family font-playfair
	font-size 4rem

h3
	heading()
	font-family font-playfair
	font-size 3rem

h4
	heading()
	font-family font-work
	font-size 1.5rem
	font-style normal

h5
	heading()
	font-family font-work
	font-size 1rem
	font-style normal

h6
	heading()
	font-size 1rem
	font-style normal

a
	color amber
	amberUnderline()

a.cta
	button()

blockquote
	font-size 3rem
	line-height 1.25
	margin 0 4rem 1rem
	&:before
		content "“"
	&:after
		content "”"

// Photo Credit
.photoCredit
	position absolute
	bottom .75rem
	right 1rem
	color white
	a
		color white
		whiteUnderline()

// Forms
form

	fieldset
		border none
		padding .5rem 0
		margin .5rem 0
		text-align left

	label
		box-sizing border-box
		display block
		width 100%
		padding 0 .5rem
		color dk-gray
		&.inlineLabel
			display inline

	input
		box-sizing border-box
		width 100%
		padding 0 .5rem
		font-size 1rem
		line-height 3rem
		background lt-gray
		border none
		&[type="textarea"]
			height 9rem
		&[type="checkbox"]
			display inline
			width auto

	button, input[type="submit"]
		button()
		margin-top 2rem
