// Grid
// Columns
columns = 12 // Number columns used to divide layouts

// Breakpoints
small = 0px
medium = 640px
large = 900px

// Colors
black = #222
dk-gray = #444
mid-gray = #AAA
lt-gray = #eee
amber = #f4bd64
coral = #f66
bg-tan = #f2d3b8
bg-blue = #ceeadf
bg-green = #d4e5c1

// Typography
font-work = 'Work Sans', sans-serif
font-playfair = "Playfair Display", serif

// Header
header-z = 100

// Photos
gradientOverlay = linear-gradient(0deg, rgba(50,50,50,.4), rgba(50,50,50,0))